{
    "masters": [{% for host in groups['mesosmaster'] %}"{{hostvars[host]['ansible_default_ipv4']['address']}}:5050"{% if not loop.last %},{% endif %}{% endfor %}],
    "refreshSeconds": 60,
    "ttl": 60,
    "domain": {{mesos_dns.domain | to_json}},
    "port": {{mesos_dns.dnsport | to_json}},
    "resolvers": {{ mesos_dns_upstream_resolvers | to_json}},
    "timeout": 5,
    "httpon": {{ mesos_dns.httpon | to_json}},
    "dnson": {{mesos_dns.dnson | to_json}},
    "httpport": {{mesos_dns.httpport | to_json}},
    "externalon": {{mesos_dns.externalon | to_json}},
    "listener": {{ansible_default_ipv4.address | to_json}},
    "SOAMname": {{mesos_dns.SOAMname | to_json}},
    "SOARname": {{mesos_dns.SOARname | to_json}},
    "SOARefresh": 60,
    "SOARetry":   600,
    "SOAExpire":  86400,
    "SOAMinttl": 60,
    "IPSources": {{mesos_dns.IPSources | to_json}}
}
