{
    "masters": [{% for host in groups['mesosmaster'] %}"{{hostvars[host]['ansible_default_ipv4']['address']}}:5050"{% if not loop.last %},{% endif %}{% endfor %}],
    "refreshSeconds": 60,
    "ttl": 60,
    "domain": {{mesos_dns_domain | to_json}},
    "port": {{mesos_dns_dnsport | to_json}},
{% if mesos_dns_upstream_resolvers is defined %}
    "resolvers": {{ mesos_dns_upstream_resolvers | to_json}},
{% elif ansible_dns.nameservers is defined %}    
    "resolvers": {{ ansible_dns.nameservers | to_json}},
{% endif %}
    "timeout": 5,
    "httpon": {{ mesos_dns_httpon | to_json}},
    "dnson": {{mesos_dns_dnson | to_json}},
    "httpport": {{mesos_dns_httpport | to_json}},
    "externalon": {{mesos_dns_externalon | to_json}},
    "listener": {{mesos_dns_listener | to_json}},
    "SOAMname": {{mesos_dns_SOAMname | to_json}},
    "SOARname": {{mesos_dns_SOARname | to_json}},
    "SOARefresh": 60,
    "SOARetry":   600,
    "SOAExpire":  86400,
    "SOAMinttl": 60,
    "IPSources": {{mesos_dns_IPSources | to_json}}
}
